.section {
  margin: 0 auto;
  padding: 5rem 0 2rem;
  display: flex;
  justify-content: space-between;
}

.banner-column {
  position: relative;
  display: grid;
  justify-content: space-around;
  align-items: center;
  row-gap: 2rem;
}

.banner-inner {
  display: flex;
  padding-right: 40px;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1.5rem;
  margin-left: 80px;
  padding: 0 1.25rem;
}

.btn {
  display: inline-block;
  font-family: inherit;
  font-size: 0.95rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  border: 2px solid black;
  border-radius: 20px;
  text-transform: unset;
  transition: all 0.3s ease-in-out;
}
.btn-inline {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
  margin-top: 1rem;
}
.btn-darken {
  padding: 0.75rem 2rem;
}

.brands {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.brands img {
  max-width: 100%;
  max-height: 100px;
  margin-right: 20px;
}

.banner-image {
  display: block;
  max-width: 25rem;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  justify-self: center;
  z-index: -10;
}

.banner-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1.5rem;
  z-index: -1;
}

@media only screen and (min-width: 48rem) {
  .banner-column {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-content: center;
    margin-top: 4rem;
  }
  .banner-image {
    order: 1;
    max-width: 28rem;
    height: auto;
  }
}

@media only screen and (min-width: 64rem) {
  .banner-column {
    grid-template-columns: 1fr -webkit-max-content;
    grid-template-columns: 1fr max-content;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
  .banner-image {
    max-width: 33rem;
    height: auto;
    text-align: center;
  }
}
