:root {
  --color-white-100: hsl(206, 0%, 100%);
  --color-white-200: hsl(206, 0%, 90%);
  --color-white-300: hsl(206, 0%, 80%);
  --color-white-400: hsl(206, 0%, 65%);
  --color-white-500: hsl(206, 0%, 50%);
  --color-black-100: hsl(217, 30%, 18%);
  --color-black-200: hsl(217, 27%, 15%);
  --color-black-300: hsl(217, 27%, 12%);
  --color-black-400: hsl(217, 52%, 9%);
  --color-blue-100: hsl(215, 97%, 87%);
  --color-blue-200: hsl(215, 96%, 78%);
  --color-blue-300: hsl(215, 94%, 68%);
  --color-blue-400: hsl(215, 91%, 60%);
  --color-blue-500: hsl(215, 83%, 53%);
  --color-blue-600: hsl(215, 76%, 48%);
  --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.header {
  /* position: fixed; */
  width: 100%;
}

.darkmode .header {
  background-color: var(--color-black-400);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-left: 30px;
  margin-right: 30px; */
  height: 4rem;
}

.logoList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}

.brand {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--color-black-100);
}

.darkmode .brand {
  color: var(--color-white-100);
}

.menu-item:hover {
  color: var(--color-blue-300);
}

.menu-item:hover .submenu {
  display: block;

  justify-content: center;
  align-items: center;
}

.menu-link {
  font-size: 1rem;
  font-weight: 500;
  color: inherit;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.arrow {
  display: inline-block;
  margin-left: 5px;
}

.submenu {
  display: none;
  position: absolute;
  width: 30%;
  top: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.darkmode .submenu {
  background-color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.submenu li {
  display: fl;
  padding: 10px;
  white-space: nowrap;
}

.submenu img {
  margin-right: 5px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}

.btn-inline {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
  margin-top: 1rem;
}

.btn-darken {
  padding: 0.75rem 2rem;
}

.login:hover {
  color: var(--color-blue-300);
}
.register:hover {
  background-color: var(--color-blue-300);
  border: 2px solid var(--color-blue-300);
}

/* Login / Registration  */

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.loginbox {
  width: 80%;
  max-width: 280px; 
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  background-image: linear-gradient(0deg, #154050, #08354c, #020814);
  border: 1px solid;
  border-radius: 20px;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 200;
}

.loginbox h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem; 
  border-bottom: 2px;
  margin-bottom: 20px; 
  padding: 13px 0;
}

.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 16px; 
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #ffffff;
}

.textbox input {
  border: none;
  outline: none;
  background: none;
  color: white;
  width: 80%;
  float: left;
  margin: 0 10px;
  font-size: 16px; 
}

input::placeholder {
  color: white;
  font-size: 16px; 
}

.confirmlogin {
  width: 100%;
  background: none;
  border: 1px solid #ffffff;
  border-radius: 0.4em;
  color: #ffffff;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
}

.confirmlogin:hover {
  color: #011126;
  background-color: white;
}
.confirmlogin:active {
  color: #d1d1d1;
  background-color: #157694;
}
.show-modal {
  display: block;
}

.burger {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  order: -1;
  z-index: 12;
  width: 1.6rem;
  height: 1.15rem;
  margin-right: 1.25rem;
  border: none;
  outline: none;
  background: none;
  visibility: visible;
  transform: rotate(0deg);
  transition: 0.35s ease;
}

.burger-line {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  border: none;
  outline: none;
  opacity: 1;
  border-radius: 1rem;
  transform: rotate(0deg);
  background-color: var(--color-black-300);
  transition: 0.25s ease-in-out;
}
.darkmode .burger-line {
  background-color: var(--color-white-100);
}
.burger-line:nth-child(1) {
  top: 0px;
}
.burger-line:nth-child(2) {
  top: 0.5rem;
  width: 70%;
}
.burger-line:nth-child(3) {
  top: 1rem;
}
.burger.is-active .burger-line:nth-child(1) {
  top: 0.5rem;
  transform: rotate(135deg);
}
.burger.is-active .burger-line:nth-child(2) {
  opacity: 0;
  visibility: hidden;
}
.burger.is-active .burger-line:nth-child(3) {
  top: 0.5rem;
  transform: rotate(-135deg);
}

.sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 80%;
  height: 100%;
  background-color: #fff; /* Set your desired background color */
  transition: right 0.3s ease;
}

.sidebar.is-active {
  right: 0;
}

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color: var(--color-black-400);
  background-color: var(--color-white-100);
  box-shadow: var(--shadow-medium);
  transition: all 0.4s ease-in-out;
}

.darkmode .menu {
  color: var(--color-white-100);
  background-color: var(--color-black-400);
}

.menu.is-active {
  left: 0;
}

.menu-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1.25rem;
  margin-top: 7rem;
}

.menu-link {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: inherit;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

/* Responsive Media Query */
@media only screen and (min-width: 48rem) {
  .menu {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    padding: 0rem;
    margin-left: auto;
    background: none;
    box-shadow: none;
    transition: none;
  }

  .menu-inner {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    margin: 0 auto;
  }

  .menu-link {
    text-transform: capitalize;
  }
  .buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}

@media only screen and (min-width: 48rem) {
  .burger {
    display: none;
    visibility: hidden;
  }
}